@inject NavigationManager NavManager

<div>
  <p class="mt-4">
    <!-- метод SearchFor вызывается каждый раз при запуске события нажатия клавиши -->
    <!-- директива bind="" разрешает двустороннюю привязку в Blazor. Здесь привязываю вводимый текст к полю _searchTerm -->
    <!-- обновляем поле _searchTerm всякий раз, когда срабатывает событие oninput, по сути, при вводе нового символа-->
    <input @onkeydown="SearchFor"
    @bind="_searchTerm"
    @bind:event="oninput"
    type="text"
    placeholder=@Placeholder
    class="form-control form-control-lg" />
  </p>
</div>

@code {
  private string _searchTerm = string.Empty;

  [Parameter]
  public string Placeholder { get; set; } = "Поиск...";

  /// <summary>Части пути, чтобы можно было указывать для разных маршрутов поиск </summary>
  [Parameter]
  public string TextNavigateTo { get; set; } = "search";

  private void SearchFor(KeyboardEventArgs args)
  {
    if (args.Key != "Enter")
      return; // выходим, если нажатая клавиша не была клавишей Enter

    // использую метод для перехода на страницу поиска программными средствами, передавая поисковый запрос, введенный пользователем
    NavManager.NavigateTo($"/{TextNavigateTo}/{_searchTerm}");
  }
}

