@using Application.DTO.Booking
@inject NavigationManager NavManager

<div class="container text-center mb-2">
  <div class="row justify-content-start">
    <div class="col">
      <input @bind="Booking.ArrivalDate" type="date" class="form-control">
    </div>
    <div class="col">
      <input @bind="Booking.DepartureDate" type="date" class="form-control">
    </div>
    @* <div class="col">
      <InputNumber @bind-Value="CountAdult" class="form-control" id="adult" />
    </div> *@

    <div class="col">
      <select class="form-select" aria-label="Один" @bind="Booking.NumberOfAdults">
        <option selected>Количество взрослых</option>
        <option value="1">1 взрослый</option>
        <option value="2">2 взрослых</option>
        <option value="3">3 взрослых</option>
        <option value="4">4 взрослых</option>
        <option value="5">5 взрослых</option>
        <option value="6">6 взрослых</option>
        <option value="7">7 взрослых</option>
        <option value="8">8 взрослых</option>
        <option value="9">9 взрослых</option>
        <option value="10">10 взрослых</option>
      </select>
    </div>

    <div class="col">
      <select class="form-select" aria-label="Один" @bind="Booking.NumberOfChilds">
        <option selected>Количество детей</option>
        <option value="0">Без детей</option>
        <option value="1">1 ребёнок</option>
        <option value="2">2 ребёнка</option>
        <option value="3">3 ребёнка</option>
        <option value="4">4 ребёнка</option>
        <option value="5">5 ребёнка</option>
      </select>
    </div>

    <div class="col">
      <button type="button" class="btn btn-primary" title="Поиск..." 
              @onclick="@(async () => await OnSelected.InvokeAsync(Booking))">
        <i class="bi bi-binoculars"></i>
        Найти
      </button>
    </div>
  </div>
</div>

@code {

  [Parameter]
  public BookingDto Booking { get; set; }

  [Parameter, EditorRequired]
  public EventCallback<BookingDto> OnSelected { get; set; }

}
