<div class="star-rating">
  @for (int i = 1; i <= 5; i++)
  {
    <i class="@GetStarClass(i)" @onclick="() => SetRating(i)"></i>
  }
</div>

@code {
  [Parameter]
  public int StarCount { get; set; }

  [Parameter]
  public EventCallback<int> StarClicked { get; set; }

  private async Task SetRating(int index)
  {
    StarCount = index;
    await StarClicked.InvokeAsync(index);
  }

  private string GetStarClass(int index) => index <= StarCount ? "bi bi-star-fill text-warning" : "bi bi-star";
}
