<div class="card shadow">
  <div class="card-body">
    <div class="row">
      <div class="d-flex justify-content-between">
        <h5 class="card-subtitle mb-3 "> @Review.Name</h5>
        <StarComponent StarCount="@Review.Star" />
      </div>
    </div>
    <div class="row">
      <h5 class="card-subtitle mb-3 "> @Review.DateTimeReview</h5>
    </div>
    <div class="row">
      <div class="col-10">
        <h5 class="card-subtitle mb-3 "> @Review.Description</h5>
      </div>
      <div class="col-2">
        <AuthorizeView>
          @if (context.User.IsInRole("Administrator"))
          {
            <button type="button" class="btn btn-outline-danger custom-btn" title="Удалить" @onclick="DeleteReview">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-building-dash" viewBox="0 0 16 16">
                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7M11 12h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1" />
                <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v6.5a.5.5 0 0 1-1 0V1H3v14h3v-2.5a.5.5 0 0 1 .5-.5H8v4H3a1 1 0 0 1-1-1z" />
                <path d="M4.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z" />
              </svg>
            </button>
          }
        </AuthorizeView>
      </div>
    </div>
  </div>
</div>

@code {
  [Parameter, EditorRequired]
  public ReviewDto Review { get; set; }

  private void DeleteReview(MouseEventArgs args)
  {
    Console.WriteLine("Delete");
  }
}
