@* Цена за ночь *@ 
@if (DayPrice > 0 && DayCount == 1)
{
  <h4 class="card-text mb-0">От @DayPrice BYN</h4>
  <h6 class="card-subtitle text-muted mt-0">@DayCount @strNight </h6>
}
else if (DayPrice > 0 && DayCount > 1)
{
  <h4 class="card-text mb-0">@DayPrice BYN</h4>
  <h6 class="card-subtitle text-muted mt-0">@DayCount @strNight </h6>
}


@code {
  private string strNight = "";

  [Parameter, EditorRequired]
  public double DayPrice { get; set; } = 0.00;

  [Parameter, EditorRequired]
  public int DayCount { get; set; } = 0;

  protected override void OnParametersSet()
  {
    int ch = Math.Abs(DayCount % 10);
    if (DayCount > 9 && DayCount < 21)
      strNight = "ночей";
    else if (ch == 1)
      strNight = "ночь";
    else if (ch > 1 && ch < 5)
      strNight = "ночи";
    else if (ch > 4)
      strNight = "ночей";
  }
}
