@using Application.DTO.RoomFacility

@if (RoomFacilities is not null && RoomFacilities.Any())
{
  <div class="row align-items-start">
    <div class="col-sm-8">
      <div class="d-flex">
        @foreach (var item in RoomFacilities)
        {
          <h6 class="m-3">@item.Name</h6>
        }
      </div>
    </div>
  </div>
}

@code {
  [Parameter, EditorRequired]
  public IEnumerable<RoomFacilityDto>? RoomFacilities { get; set; }
}
