 @page "/edit-hotel/{HotelId:guid}"
@inject IMediator Mediator

@using Application.Enums
@using AutoMapper
@using Application.DTO.Hotel.ClientRequest

<PageTitle>Редактирование записи отеля</PageTitle>

<NavigationСhain LastChainName="Edit Hotel" />

<h3 class="mt-5 mb-4">Форма редактирования отеля</h3>

@if (_isLoading)
{
  <p>Загрузка отеля...</p>
}
else
{
  <h3 class="mt-5 mb-4">@_hotel.Name</h3>
  @if (_submitSuccessful)
  {
    <SuccessAlert Message="Отель был успешно отредактирован!" />
  }
  else if (_errorMessage is not null)
  {
    <ErrorAlert Message="@_errorMessage" />
  }
  <HotelForm Hotel="_hotel" OnSubmit="SubmitEditHotel" />
}

@code {
  private bool _isLoading;
  private bool _submitSuccessful;
  private string? _errorMessage;
  private HotelDto _hotel = new HotelDto();

  [Parameter]
  public Guid HotelId { get; set; }

  protected override async Task OnInitializedAsync()
  {
    _isLoading = true;
    Console.WriteLine("-------START EditHotelPage OnInitializedAsync -------");
    var response = await Mediator.Send(new GetHotelRequest(HotelId));
    Console.WriteLine($"-------END EditHotelPage OnInitializedAsync HotelId={HotelId} -------");
    if (response is not null)
    {
      // если отель получен, сведения о нём копирую в локальное поле для передачи в HotelForm
      //_hotel = response.Hotel;
      _hotel.Id = HotelId;
      _hotel.Name = response.Hotel.Name;
      _hotel.Description = response.Hotel.Description;
      _hotel.Location = response.Hotel.Location;
      _hotel.Star = response.Hotel.Star;
      _hotel.MainPhoto = response.Hotel.MainPhoto;
      _hotel.Rating = response.Hotel.Rating;
      _hotel.Rooms = response.Hotel.Rooms;
      _hotel.Foods = response.Hotel.Foods;
      _hotel.Locations = response.Hotel.Locations;
      _hotel.HotelFacilities = response.Hotel.HotelFacilities;
      _hotel.HotelPhotos = response.Hotel.HotelPhotos;
      _hotel.HotelUsefulInfo = response.Hotel.HotelUsefulInfo;
      _hotel.Prices = response.Hotel.Prices;
      _hotel.Reviews = response.Hotel.Reviews;
    }
    else
    {
      _errorMessage = AppMessage.HotelPageLoadTextErrorMessage;
    }

    // после загрузки отеля устанавливаю в false
    _isLoading = false;
  }

  private async Task SubmitEditHotel(HotelDto hotelDto, IBrowserFile? image)
  {
    var response = await Mediator.Send(new EditHotelRequest(hotelDto));

    //Если при сохранении тропы произошла ошибка, отображается сообщение об ошибке
    if (!response.IsSuccess)
    {
      _submitSuccessful = false;
      _errorMessage = AppMessage.HotelPageSaveTextErrorMessage;
    }
    else
    {
      // любые обновления, сделанные в экземпляре hotelDto из формы, применяются к тропе
      _hotel = hotelDto;
    }

    _submitSuccessful = true;

    // Если пользователь обновил изображение тропы, вызывается ProcessImage для загрузки нового изображения
    if (hotelDto.ImageAction == ImageAction.Add)
      _submitSuccessful = await ProcessImage(hotelDto.Id, image!);

    // Если пользователь удалил изображение, свойство Image очищается
    if (hotelDto.ImageAction == ImageAction.Remove)
      _hotel.MainPhoto = "";

    // Метод StateHasChanged вызывается для отрисовки любых обновлений пользовательского интерфейса на основе действий с изображением
    StateHasChanged();
  }

  private async Task<bool> ProcessImage(Guid hotelId, IBrowserFile hotelImage)
  {
    var imageUploadResponse = await Mediator.Send(new UploadHotelImageRequest(hotelId, hotelImage));
    if (string.IsNullOrWhiteSpace(imageUploadResponse.ImageName))
    {
      _errorMessage = AppMessage.AddHotelPageSaveImageTextErrorMessage;
      return false;
    }
    // Если было выбрано новое изображение, обновляем свойство Image, указав новое имя файла
    _hotel.MainPhoto = imageUploadResponse.ImageName;
    return true;
  }
}
