<AuthorizeView>
    <Authorized>
        Привет, @context.User.Identity.Name!
    <a href="authentication/logout">Выход</a>
    </Authorized>
    <NotAuthorized>
      <a href="authentication/login">Вход</a>
    </NotAuthorized>
</AuthorizeView>

@code {
  
}
