@page "/add-hotel"
@inject IMediator Mediator

<PageTitle>Add Hotel</PageTitle>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"> 
      <a href="/"> Home </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      Add Hotel
    </li>
  </ol>
</nav>

<h3 class="mt-5 mb-4">Add a hotel</h3>

@if (_submitSuccessful)
{
  <div class="alert alert-success" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" 
    fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16"/>
    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384
                                      7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 
                                      1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1-1.05z"/>
    />
    Your hotel has been submitted successfully!
  </div>
}
else if (_errorMessage is not null)
{
  <div class="alert alert-danger" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
         fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16" />
    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 
                                 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647
                                 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 
                                 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
    />
    @_errorMessage
  </div>
}

<!--Компонент EditForm используется для определения формы Blazor. Как минимум должны быть определены модель и действие отправки -->
<EditForm Model="_hotel" OnInvalidSubmit="SubmitForm">

  <FormSection Title="Basic Details" HelpText="This information is used to identify the hotel..."> 

    <FormFieldSet Width="col-6">
      <label for="hotelName" class="font-weight-bold text-secondary">Name</label>
      <InputText @bind-Value="_hotel.Name" class="form-control" id="hotelName"/>
    </FormFieldSet>

    <FormFieldSet Width="col">
      <label for="hotelDescription" class="font-weight-bold text-secondary">Description</label>
      <InputTextArea @bind-Value="_hotel.Description" rows="6" class="form-control" id="hotelDescription" />
    </FormFieldSet>

    <FormFieldSet Width="col-6">
      <label for="hotelLocation" class="font-weight-bold text-secondary">Location</label>
      <InputText @bind-Value="_hotel.Location" class="form-control" id="hotelLocation" />
    </FormFieldSet>

  </FormSection>  

  <FormSection Title="Rating" HelpText="This information is rating the hotel...">
    <FormFieldSet Width="col-3">
      <label for="hotelRating" class="font-weight-bold text-secondary">Rating</label>
      <InputNumber @bind-Value="_hotel.Rating" class="form-control" id="hotelRating" />
    </FormFieldSet>
  </FormSection>

  <div class="mt-4 mb-5">
    <div class="row">
      <div class="offset-4 col-8 text-right">
        <button class="btn btn-outline-secondary" type="button" 
        onclick="@(() => _hotel=new HotelDto())">
          Reset
        </button>
        <button class="btn btn-primary" type="submit">
          Submit
        </button>
      </div>
    </div>
  </div>
</EditForm>

@code {
  private HotelDto _hotel = new HotelDto();
  private bool _submitSuccessful; // поле для отслеживания успешности отправки содержимого формы
  private string? _errorMessage; // поле для хранения сообщения об ошибке, если при отправке что-то пошло не так

  // Метод вызывается взякий раз при вызове события OnInvalidSubmit компонента EditForm
  private async Task SubmitForm()
  {
    // Mediatr используется для отправки AddHotelRequest и ожидания ответа
    var response = await Mediator.Send(new AddHotelRequest(_hotel));
    if (response.HotelId == -1) // проверка на ошибку
    {
      _errorMessage = "There was a problem saving your hotel.";
      _submitSuccessful = false;
      return;
    }
    // создаю новый экземпляр HotelDto, который сбрасывает содержимое формы, готовя ее к вводу нового отеля
    _hotel = new HotelDto();
    _errorMessage = null;
    _submitSuccessful = true;
  }
}
