<div class="row">
  <div class="@Width">
    <div class="form-group">
      @ChildContent
    </div>
  </div>
</div>

@code {

  [Parameter, EditorRequired]
  public RenderFragment ChildContent { get; set; } = default!;

  /// <summary> Ширину строки можно передать, но есть значение, используемое по умолчанию </summary>
  [Parameter, EditorRequired]
  public string Width { get; set; } = "col";

}
