@page "/registration"
@inject NavigationManager NavManager

<PageTitle>Hotel Registration</PageTitle>

<NavigationСhain LastChainName="Registration" />

<h3>Регистрация</h3>

@if (ShowRegistrationErrors)
{
  <div class="alert alert-danger" role="alert">
    @foreach (var error in Errors)
    {
      <p>@error</p>
    }
  </div>
}

<EditForm Model="_userForRegistration" OnValidSubmit="Register">
  <DataAnnotationsValidator />

  <FormSection Title="Форма регистрации" HelpText="Необходимо заполнить поля для регистрации">
    <FormFieldSet Width="col-6">
      <label for="email" class="font-weight-bold text-secondary">Адрес электронной почты</label>
      <InputText id="email" class="form-control" @bind-Value="_userForRegistration.Email" />
      <ValidationMessage For="@(() => _userForRegistration.Email)" class="text-danger" />
    </FormFieldSet>

    <FormFieldSet Width="col">
      <label for="password" class="font-weight-bold text-secondary">Пароль</label>
      <InputText type="password" id="password" class="form-control" @bind-Value="_userForRegistration.Password" />
      <ValidationMessage For="@(() => _userForRegistration.Password)" class="text-danger" />
    </FormFieldSet>

    <FormFieldSet Width="col-6">
      <label for="confirm" class="font-weight-bold text-secondary">Подтверждение пароля</label>
      <InputText type="password" id="confirm" class="form-control" @bind-Value="_userForRegistration.ConfirmPassword" />
      <ValidationMessage For="@(() => _userForRegistration.ConfirmPassword)" class="text-danger" />
    </FormFieldSet>
  </FormSection>

  <ButtonSubmit Text="Register" />

</EditForm>

@code {

}
