/*Этот класс определяет стили для отображения в виде карточек*/
.grid {
  display: grid;
  grid-template-columns: repeat(3, 288px);
  grid-column-gap: 123px;
  grid-row-gap: 75px;
}


/*Этот класс определяет стили для отображения таблицы*/
table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-collapse: collapse;

  ::deep th, ::deep td {
    padding: .75rem;
    vertical-align: middle;
  }

  ::deep thead tr th {
    border-bottom: 4px solid var(--brand);
    border-top: none;
  }

  ::deep tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
  }
}
