@using BookingHotel.Validation

<!--Компонент EditForm используется для определения формы Blazor. Как минимум должны быть определены модель и действие отправки -->
<!--<EditForm Model="_hotel" OnValidSubmit="SubmitForm">-->
<EditForm EditContext="_editContext" OnValidSubmit="SubmitForm">
  <FluentValidationValidator />

  <FormSection Title="Базовая информация" HelpText="Эта информация используется для идентификации отеля ...">

    <FormFieldSet Width="col-6">
      <label for="hotelName" class="font-weight-bold text-secondary">Наименование отеля</label>
      <InputText @bind-Value="_hotel.Name" class="form-control" id="hotelName" />
      <ValidationMessage For="@(() => _hotel.Name )" />
    </FormFieldSet>

    <FormFieldSet Width="col">
      <label for="hotelDescription" class="font-weight-bold text-secondary">Описание отеля</label>
      <InputTextArea @bind-Value="_hotel.Description" rows="6" class="form-control" id="hotelDescription" />
      <ValidationMessage For="@(() => _hotel.Description )" />
    </FormFieldSet>

    <FormFieldSet Width="col-6">
      <label for="hotelLocation" class="font-weight-bold text-secondary">Расположение</label>
      <InputText @bind-Value="_hotel.Location" class="form-control" id="hotelLocation" />
      <ValidationMessage For="@(() => _hotel.Location )" />
    </FormFieldSet>

    <FormFieldSet Width="col-3">
      <label for="hotelRating" class="font-weight-bold text-secondary">Рейтинг</label>
      <InputNumber @bind-Value="_hotel.Rating" class="form-control" id="hotelRating" />
    </FormFieldSet>

    <FormFieldSet Width="col-4">
      <label for="hotelStar" class="font-weight-bold text-secondary">Количество звёзд</label>
      <InputNumber @bind-Value="_hotel.Star" class="form-control" id="hotelStar" />
    </FormFieldSet>

    <FormFieldSet Width="col">
      <label for="hotelImage" class="font-weight-bold text-secondary">Фото отеля</label>
      <InputFile OnChange="LoadHotelImage" class="form-control-file" id="hotelImage" accept=".png,.jpg,.jpeg" />
    </FormFieldSet>

  </FormSection>

  <div class="mt-4 mb-5">
    <div class="row">
      <div class="offset-4 col-8 text-right">
        <button class="btn btn-outline-secondary" type="button"
                onclick="@(() => _hotel=new HotelDto())">
          Reset
        </button>
        <button class="btn btn-primary" type="submit">
          Submit
        </button>
      </div>
    </div>
  </div>

</EditForm>


@code {
  private EditContext _editContext = default!;
  //private HotelCreateDto _hotel = new HotelCreateDto();
  private HotelDto _hotel = new HotelDto();
  private IBrowserFile? _hotelImage;

  /// <summary> Параметр OnSubmit определяет событие, которое передает введенные в форму данные обработчику, определяемому компонентом-потребителем </summary>
  [Parameter]
  public Func<HotelDto, IBrowserFile?, Task> OnSubmit { get; set; }

  public void ResetForm()
  {
    _hotel = new HotelDto(); // new HotelCreateDto();
    _editContext = new EditContext(_hotel);
    // Настраиваю EditContext для использования нового класса BootstrapCssClassProvider
    _editContext.SetFieldCssClassProvider(new BootstrapCssClassProvider());
    _hotelImage = null;
  }

  protected override void OnInitialized()
  {
    // создаю новый EditContext для модели отеля
    _editContext = new EditContext(_hotel);
    // Настраиваю EditContext для использования нового класса BootstrapCssClassProvider
    _editContext.SetFieldCssClassProvider(new BootstrapCssClassProvider());
  }

  private void LoadHotelImage(InputFileChangeEventArgs args) => _hotelImage = args.File;

  /// <summary>
  /// Обработчик события OnValidSubmit из EditForm вызовет событие OnSubmit.
  /// Это позволит обработчику решить, как сохранить данные формы
  /// </summary>
  /// <returns></returns>
  private async Task SubmitForm() => await OnSubmit(_hotel, _hotelImage);

}
